{% extends 'base.html' %}

{% block content %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}



<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase bg-primary" style="color: white;">
    Заявки
  </h3>
  
  <div class="card-body">
    <a href="{% url 'create_request' %}" type="submit" class="btn btn-info btn-lg btn">Создать новая заявка</a>
    <a href="{% url 'deleted_requests' %}" type="submit" class="btn btn-info btn-lg btn">Удаленные заявки</a>
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"
        ><a href="#!" class="text-success"
          ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
      ></span>
      <form method='GET'>
        <div class="md-form md-outline input-with-post-icon datepicker" id="accLabels">
          {{ rfilter.form | crispy }}<br>

          {% for r in request %}
              {{ r.name }}
          {% endfor %}

          <input type="submit" value="Искать" class="btn btn-success bttn lg">
          <h3 class="card-header text-center font-weight-bold text-uppercase " >
            {% for key, value_list  in a.items %}
             
              {% for value in value_list %}
                {{value}}
              {% endfor %}
            {% endfor %}
          </h3>
        </div>

      </form>

      <table class="table table-bordered table-responsive-md table-striped text-center">

        
              <thead>
                <tr>
                  <th class="text-center">Номер</th>
                  <th class="text-center">Дата</th>
                  <th class="text-center">Объект</th>
                  <th class="text-center">Бригадир</th>
                  <th class="text-center">Номер бригадир</th>
                  
                  <th class="text-center">Обед</th>
                  <th class="text-center">Ужин</th>
                  <th class="text-center">Поздний Ужин</th>
                  <th class="text-center">Редактировать</th>
                  <th class="text-center">Удалить</th>
                </tr>
              </thead>
              <tbody>
                
                {% for request in requests %}

                    
                <tr>
                  <td class="pt-3-half" contenteditable="false">{{ forloop.counter }}</td>
                  <td class="pt-3-half" contenteditable="false">{{ request.date }}</td>
                  <td class="pt-3-half" contenteditable="false">{{ request.object }}</td>
                  <td class="pt-3-half" contenteditable="false">{{ request.object.brigadir }}</td>
                  <td class="pt-3-half" contenteditable="false">{{ request.object.phone }}</td>
                  
                  <td class="pt-3-half" contenteditable="false">{{ request.lunch }}</td>
                  <td class="pt-3-half" contenteditable="false">{{ request.dinner }}</td>
                  <td class="pt-3-half" contenteditable="false">{{ request.late_dinner }}</td>
                  {% comment %} <td class="pt-3-half">
                    <span class="table-up"
                      ><a href="#!" class="indigo-text"
                        ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
                    ></span>
                    <span class="table-down"
                      ><a href="#!" class="indigo-text"
                        ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
                    ></span>
                  </td> {% endcomment %}
                   <td>
                    <span class="table-remove"
                      ><a href="{% url 'update_request' request.id %}" type="button" class="btn btn-warning btn-rounded btn-sm my-0"  >
                        Редактировать
                        
                      </a></span>
                  </td>
                  
                  <td>
                    <span class="table-remove"
                      ><a href="{% url 'delete_request' request.id %}"  type="button" class="btn btn-danger btn-rounded btn-sm my-0" style="color: white">
                        Удалить
                      </a></span>
                  </td> 


                </tr>
                {% endfor %}

              </tbody>


      
      </table>
    </div>
  </div>
</div>


  {% endblock %}