{% extends 'base.html' %}

{% block content %}
{% load bootstrap_icons %}

<div class="container">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
 
        <!-- form as paragraph -->
         
        {{ requestForm.as_p }}<br>
        {% comment %} {{ requestForm.object }}<br>
        {{ requestForm.lunch }}<br>
        {{ requestForm.dinner }}<br>
        {{ requestForm.late_dinner }}<br> {% endcomment %}
        
 
        <span class="table-remove">
            <input type="submit"  class="btn btn-info btn-rounded btn-sm my-2" style="color:white" value="Обновить"/>
        </span>

    </form>
 
</div>

{% endblock %}