{% extends 'base.html' %}

{% block content %}
{% load bootstrap_icons %}

<div class="container">
    <!-- Create a Form -->
    {% comment %} <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
 
        <!-- form as paragraph -->
        {{ brigadirForm.as_p }}
 
        <span class="table-remove">
            <input type="submit"  class="btn btn-info btn-rounded btn-sm my-3" style="color:white" value="Cоздать" />
        </span>
    </form> {% endcomment %}

    <form method="POST">
        {% csrf_token %}
        <!-- Default input -->
        <div class="form-group">
          <label for="formGroupExampleInput">Ф.И.О Бригадира</label>
          {{ brigadirForm.name }}
        </div>
        <!-- Default input -->
        <div class="form-group">
          <label for="formGroupExampleInput2">Номер Бригадира</label>
          {{ brigadirForm.phone }}
        </div>
        <span class="table-remove">
          <input type="submit"  class="btn btn-info btn-lg btn" style="color:white" value="Cоздать" />
      </span>
      </form>
 
 
</div>
{% endblock %}