<!doctype html>
{% load static %}
{% load bootstrap_icons %}

{% load crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>  
 

      <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color bg-primary">
        <a class="navbar-brand" href="#">
          <img src="http://www.citynet.uz/images/logo14.png" height="30" alt="mdb logo">
        </a>
  

        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
          <ul class="navbar-nav mr-auto">
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">Home
                
              </a>
            </li> {% endcomment %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'requests' %}">Заявки</a>
            </li>
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="{% url 'brigadirs' %}">Бригадиры</a>
            </li> {% endcomment %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'objects' %}">Объекты</a>
            </li>
         
        </div>
      </nav>
          {% block content %}


          {% endblock %}

  </body>
</html>