{% extends 'base.html' %}

{% block content %}
{% load bootstrap_icons %}


<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase bg-primary" style="color: white;">
    Удаленные Объекты
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"
        ><a href="#!" class="text-success"
          ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
      ></span>
      {% comment %} <a href="{% url 'create_request' %}" type="submit" class="btn btn-info btn-lg btn">создать новый Объект</a>
      <a href="{% url 'create_request' %}" type="submit" class="btn btn-info btn-lg btn">удаленный Объекты</a> {% endcomment %}
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">ид</th>
            <th class="text-center">Объект</th>
            <th class="text-center">Бригадир объекта</th>
            <th class="text-center">Номер бригадира</th>
            <th class="text-center">Востановить</th>
            
          </tr>
        </thead>
        <tbody>
          {% for object in objects %}
          <tr>
            <td class="pt-3-half" contenteditable="false">{{ object.id }}</td>
            <td class="pt-3-half" contenteditable="false">{{ object.name }}</td>
            <td class="pt-3-half" contenteditable="false">{{ object.brigadir }}</td>
            <td class="pt-3-half" contenteditable="false">{{ object.phone }}</td>

            {% comment %} <td class="pt-3-half">
              <span class="table-up"
                ><a href="#!" class="indigo-text"
                  ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
              ></span>
              <span class="table-down"
                ><a href="#!" class="indigo-text"
                  ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
              ></span>
            </td> {% endcomment %}
             <td>
              <span class="table-remove">
                <a href="{% url 'delete_object' object.id %}" type="button" class="btn btn-primary btn-rounded btn-sm my-0" >
                  Востановить
                  
                </a></span>
            </td>
            
            {% comment %} <td>
              <span class="table-remove">
                <a href="{% url 'delete_object' object.id %}" type="button" class="btn btn-danger btn-rounded btn-sm my-0" style="color:white">
                  Удалить
                </a></span>
            </td> {% endcomment %}

          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
</div>

  {% endblock %}